<div ng-app>
  <div ng-controller="CalendarCtrl">
    <h1>{{month()}} {{year}}</h1>

    <button ng-click="goToPreviousMonth()" class="btn btn-default"> &lt;&lt; Previous</button>
    <button ng-click="goToNextMonth()" class="btn btn-default">Next &gt;&gt;</button>

    <div id="calendar-header">
      <div>Monday</div>
      <div>Tuesday</div>
      <div>Wednesday</div>
      <div>Thursday</div>
      <div>Friday</div>
      <div>Saturday</div>
      <div>Sunday</div>
    </div>

    <div class="clear"></div>


    <div ng-repeat="day in days">
      <div class="day" ng-class="{'not-this-month': day.isNotThisMonth}">
        <span>{{day.value}}</span>
        <ul ng-repeat="booking in day.bookings" class="list-unstyled">
          <li>{{booking}}</li>
        </ul>
      </div>
      <div ng-hide="($index+1) % 7" class="clear"></div>
    </div>


  </div>
</div>


<table style="visibility: collapse" border="1">
  <tr>
    <th>who</th>
    <th>from</th>
    <th>to</th>
  </tr>

  <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.who %></td>
        <td><%= booking.from %></td>
        <td><%= booking.to %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Delete', booking_path(booking),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= link_to 'Approve', 'bookings/approve/%d' % booking.id,
                      method: :patch, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
</table>

<%= link_to 'Request time off', new_booking_path %>

<script>


</script>