<!DOCTYPE html>
<html>
<head>
  <title>Book holidays!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <div id="user">
      <% if current_user %>
        Welcome, <strong><%= current_user.name %></strong>! <%= link_to "Not you?", "auth/logout" %>
      <% else %>
          <span class="glyphicon glyphicon-lock"></span> <%= link_to "Sign in", "/auth/ldap" %>
      <% end %>
    </div>

<%= yield %>

</div>
</body>
</html>
