<!DOCTYPE html>
<html>
<head>
  <title>Bookmeoff</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <% if current_user %>
  Welcome, <strong><%= current_user.name %></strong>! <%= link_to "Not you?", "auth/logout" %>
  <% else %>
  <%= link_to "Sign in", "/auth/ldap" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
